{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Enceladus{% endblock %}

{% block body %}
    <h1>Enceladus</h1>
    <span>Gerenciador financeiro e de gastos.</span>

<div class="d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col text-center">
                <a href="{{ path('app_settings') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:baseline-settings" class="icon"/>
                    <h2>Configurações</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_asset') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="carbon:finance" class="icon"/>
                    <h2>Assets</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_transactions') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ep:money" class="icon"/>
                    <h2>Transações</h2>
                </a>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col text-center">
                <a href="{{ path('app_bills') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="solar:bill-list-linear" class="icon"/>
                    <h2>Contas</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_expenses') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="tabler:cash-move" class="icon"/>
                    <h2>Gastos</h2>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}