{% extends 'base.html.twig' %}

{% block title %}Assets{% endblock %}

{% block body %}
{# <div class="bg-default "> #}
    <div class="container align-items-center">
        <h1>Adicionar asset</h1>
        <p>Adicione uma empresa que negocia alguma ação, FII, ETF, etc.</p>
        <div class="my-5">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row mb-3">
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-text">{{ form_label(form.ticker) }}</span>
                            {{ form_widget(form.ticker) }}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-text">{{ form_label(form.company) }}</span>
                            {{ form_widget(form.company) }}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-text">{{ form_label(form.type) }}</span>
                            {{ form_widget(form.type) }}
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        {{ form_widget(form.adicionar) }}
                    </div>
                </div>
                {{ form_end(form) }}
        </div>
    </div>
{# </div> #}
{% endblock %}
