{% extends 'base.html.twig' %}

{% block title %}Configurações{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center">
        <div class="row justify-content-center">
            <div class="col text-center">
                <a href="{{ path('app_sector') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:baseline-category" class="icon"/>
                    <h2>Setores</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_company') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="mdi:company" class="icon"/>
                    <h2>Empresas</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_asset') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:outline-account-balance" class="icon"/>
                    <h2>Ativos</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_asset') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:outline-request-page" class="icon"/>
                    <h2>Contas</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_asset') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:baseline-receipt-long" class="icon"/>
                    <h2>Gastos</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_asset') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:outline-inventory-2" class="icon"/>
                    <h2>Produtos</h2>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
