{% extends 'base.html.twig' %}

{% block title %}Configurações{% endblock %}

{% block body %}
    <h1>Cadastro e manutenção</h1>
    <span>Escolha uma opção para cadastrar, editar ou excluir.</span>

    <div class="container d-flex align-items-center mt-4">
        <div class="row justify-content-center">
            <div class="col text-center">
                <a href="{{ path('app_sector') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:baseline-category" class="icon"/>
                    <h2>Setores</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_company') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="mdi:company" class="icon"/>
                    <h2>Empresas</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_asset') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:outline-account-balance" class="icon"/>
                    <h2>Ativos</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_billtype') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:outline-request-page" class="icon"/>
                    <h2>Tipo de conta</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_product') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:outline-inventory-2" class="icon"/>
                    <h2>Produtos</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_vehicle') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:baseline-directions-car" class="icon"/>
                    <h2>Veículos</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_book') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:baseline-menu-book" class="icon"/>
                    <h2>Livros</h2>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
