{% extends 'base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block body %}
    <div class="container align-items-center">
        <h1>Adicionar empresa</h1>
        <p>Adicione uma empresa de algum ramo ou setor previamente cadastrado.</p>
        <div class="my-5">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {# row 1/2 #}
                <div class="row mb-3">
                    {# col 1/4 #}
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-text">{{ form_label(form.name) }}</span>
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    {# col 2/4 #}
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-text">{{ form_label(form.sector) }}</span>
                            {{ form_widget(form.sector) }}
                        </div>
                    </div>
                    {# col 3/4 #}
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-text">{{ form_label(form.cnpj) }}</span>
                            {{ form_widget(form.cnpj) }}
                        </div>
                    </div>
                    {# col 4/4 #}
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-text">{{ form_label(form.isin) }}</span>
                            {{ form_widget(form.isin) }}
                        </div>
                    </div>
                </div>
                {# row 2/2 #}
                <div class="row mt-4">
                    <div class="col">
                        {{ form_widget(form.adicionar) }}
                    </div>
                </div>
                {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
