{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
<div class="bg-default d-flex align-items-center">
    <div class="container">
        <h1>Adicionar movimentação</h1>
        <p>Adicione uma movimentação.</p>
        <div class="mt-5">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col">
                        <div class="row mb-3">
                            <div class="col-2 text-end">
                                {{ form_label(form.settlement) }}
                            </div>
                            <div class="col-3 text-start min">
                                {{ form_widget(form.settlement) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2 text-end">
                                {{ form_label(form.transaction) }}
                            </div>
                            <div class="col-3">
                                {{ form_widget(form.transaction) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2 text-end">
                                {{ form_label(form.operation) }}
                            </div>
                            <div class="col-2">
                                {{ form_widget(form.operation) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2 text-end">
                                {{ form_label(form.type) }}
                            </div>
                            <div class="col-2">
                                {{ form_widget(form.type) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2 text-end">
                                {{ form_label(form.entry) }}
                            </div>
                            <div class="col-2">
                                {{ form_widget(form.entry) }}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row mb-3">
                            <div class="col-2 text-end">
                                {{ form_label(form.value) }}
                            </div>
                            <div class="col-2 text-end">
                                {{ form_widget(form.value) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2 text-end">
                                {{ form_label(form.notaFiscal) }}
                            </div>
                            <div class="col-2 text-end">
                                {{ form_widget(form.notaFiscal) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2 text-end">
                                {{ form_label(form.amount) }}
                            </div>
                            <div class="col-2 text-end">
                                {{ form_widget(form.amount) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2 text-end">
                                {{ form_label(form.comment) }}
                            </div>
                            <div class="col-2 text-end">
                                {{ form_widget(form.comment) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2 text-end">
                                {{ form_label(form.ticker) }}
                            </div>
                            <div class="col-2 text-end">
                                {{ form_widget(form.ticker) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3">
                        {{ form_widget(form.adicionar) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
