{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
<div class="bg-default d-flex align-items-center">
    <div class="container">
        <h1>Adicionar movimentação</h1>
        <p>Adicione uma movimentação.</p>
        <div>
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col">
                        <div>
                            {{ form_label(form.settlement) }}
                            {{ form_widget(form.settlement) }}
                        </div>
                        <div>
                            {{ form_label(form.transaction) }}
                            {{ form_widget(form.transaction) }}
                        </div>
                        <div>
                            {{ form_label(form.operation) }}
                            {{ form_widget(form.operation) }}
                        </div>
                        <div>
                            {{ form_label(form.type) }}
                            {{ form_widget(form.type) }}
                        </div>
                        <div>
                            {{ form_label(form.entry) }}
                            {{ form_widget(form.entry) }}
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            {{ form_label(form.value) }}
                            {{ form_widget(form.value) }}
                        </div>
                        <div>
                            {{ form_label(form.notaFiscal) }}
                            {{ form_widget(form.notaFiscal) }}
                        </div>
                        <div>
                            {{ form_label(form.amount) }}
                            {{ form_widget(form.amount) }}
                        </div>
                        <div>
                            {{ form_label(form.comment) }}
                            {{ form_widget(form.comment) }}
                        </div>
                        <div>
                            {{ form_label(form.ticker) }}
                            {{ form_widget(form.ticker) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{ form_widget(form.adicionar) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
