{% extends 'base.html.twig' %}

{% block title %}Assets{% endblock %}

{% block body %}
<div class="bg-default d-flex align-items-center">
    <div class="container-fluid">
        <h1>Transactions</h1>
        
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>ID</th>
                    {# <th>Date</th> #}
                    <th>Settlement</th>
                    <th>Transaction</th>
                    <th>Operation</th>
                    <th>Type</th>
                    <th>Entry</th>
                    <th>Value</th>
                    <th>Nota Fiscal</th>
                    <th>Amount</th>
                    <th>Comment</th>
                    <th>Ticker</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr class="text-center">
                        <td>{{ transaction.id }}</td>
                        {# <td>{{ transaction.date|date('d/m/Y') }}</td> #}
                        <td>{{ transaction.settlement|date('d/m/Y') }}</td>
                        <td>{{ transaction.transaction|date('d/m/Y') }}</td>
                        <td>{{ transaction.operation.value }}</td>
                        <td>{{ transaction.type.value }}</td>
                        <td class="text-start">{{ transaction.entry }}</td>
                        <td class="text-end">{{ transaction.value|format_currency('BRL', {fraction_digit: 2, format_width:16, padding_position:'after_prefix'}) }}</td>
                        <td>{{ transaction.invoice }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.comment }}</td>
                        {# <td>{{ transaction.ticker }}</td> #}
                        <td>{{ transaction.ticker ? transaction.ticker.getTicker() : '' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
