{# templates/transaction/_form.html.twig #}
{{ form_start(form) }}
    {{ form_errors(form) }}
    
    {# Row 1/4 - Dates and Operations #}
    <div class="row my-4">
        <div class="col">
            <div class="input-group">
                <span class="input-group-text col-5">{{ form_label(form.settlementDate) }}</span>
                {{ form_widget(form.settlementDate) }}
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-text col-5">{{ form_label(form.transactionDate) }}</span>
                {{ form_widget(form.transactionDate) }}
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-text col-5">{{ form_label(form.operation) }}</span>
                {{ form_widget(form.operation) }}
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-text col-5">{{ form_label(form.type) }}</span>
                {{ form_widget(form.type) }}
            </div>
        </div>
    </div>

    {# Row 2/4 - Entry #}
    <div class="row my-4">
        <div class="input-group">
            <span class="input-group-text col-1">{{ form_label(form.entry) }}</span>
            {{ form_widget(form.entry) }}
        </div>
    </div>

    {# Row 3/4 - Values #}
    <div class="row my-4">
        <div class="col">
            <div class="input-group">
                <span class="input-group-text col-5">{{ form_label(form.value) }}</span>
                {{ form_widget(form.value) }}
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-text col-5">{{ form_label(form.invoice) }}</span>
                {{ form_widget(form.invoice) }}
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-text col-5">{{ form_label(form.ticker) }}</span>
                {{ form_widget(form.ticker) }}
            </div>
        </div>
    </div>

    {# Row 4/4 - Amount and Price #}
    <div class="row my-4">
        <div class="col-3">
            <div class="input-group">
                <span class="input-group-text col-5">{{ form_label(form.amount) }}</span>
                {{ form_widget(form.amount) }}
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <span class="input-group-text col-5">{{ form_label(form.unitPrice) }}</span>
                {{ form_widget(form.unitPrice) }}
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <span class="input-group-text col-2">{{ form_label(form.comment) }}</span>
                {{ form_widget(form.comment) }}
            </div>
        </div>
    </div>

    {# Fees Section #}
    <div class="mb-3" data-controller="collection">
        <label class="form-label">Taxas/Impostos</label>
        <div data-collection-target="container">
            {% for fee in form.fees %}
                <div class="fee-item row mb-2">
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-text col-5">{{ form_label(fee.type) }}</span>
                            {{ form_widget(fee.type) }}
                            <div class="invalid-feedback">
                                {{ form_errors(fee.type) }}
                            </div>
                        </div>
                    </div>
                    
                    {# Amount Field #}
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-text col-5">{{ form_label(fee.amount) }}</span>
                            {{ form_widget(fee.amount) }}
                        </div>
                    </div>
                    
                    {# Remove Button #}
                    <div class="col-md-2 d-flex align-items-center">
                        <button type="button" class="btn btn-danger" 
                                data-action="collection#removeItem">
                            Remover
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <button type="button" class="btn btn-secondary mt-2 mb-4"
                data-action="collection#addItem">
            Adicionar Taxa
        </button>
        
        <template data-collection-target="template">
            <div class="fee-item row mb-2">
                {# Prototype Type Field #}
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-text col-5">{{ form_label(form.fees.vars.prototype.type) }}</span>
                        {{ form_widget(form.fees.vars.prototype.type) }}
                    </div>
                </div>
                
                {# Prototype Amount Field #}
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-text col-5">{{ form_label(form.fees.vars.prototype.amount) }}</span>
                        {{ form_widget(form.fees.vars.prototype.amount) }}
                    </div>
                </div>
                
                {# Prototype Remove Button #}
                <div class="col-md-2 d-flex align-items-center">
                    <button type="button" class="btn btn-danger" 
                            data-action="collection#removeItem">
                        Remover
                    </button>
                </div>
            </div>
        </template>
    </div>

    {# Submit Button #}
    <div class="row my-4">
        <div class="col-3">
            {{ form_widget(form.adicionar) }}
        </div>
    </div>
{{ form_end(form) }}