{% extends 'base.html.twig' %}

{% block title %}Transações{% endblock %}

{% block body %}
<div class="d-flex align-items-center">
    <div class="container-fluid">
        <h1>Transações</h1>
        <p>Lista de todas as transações financeiras cadastradas.</p>
        <div class="mt-5">
            <table class="table table-fs-1">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Liquidação</th>
                        <th>Movimentação</th>
                        <th>Operação</th>
                        <th>Tipo</th>
                        <th>Entrada</th>
                        <th>Valor</th>
                        <th>Taxas</th>
                        <th>Subtotal</th>
                        <th>Nota Fiscal</th>
                        <th>Ticker</th>
                        <th>Quantidade</th>
                        <th>Preço unitário</th>
                        <th>Comentário</th>
                    </tr>
                </thead>
                <tbody>
                    {% set running_total = 0 %}
                    {% for transaction in transactions %}
                        {# Safely get transaction value #}
                        {% set transaction_value = transaction.value is iterable ? 
                            transaction.value|reduce((sum, val) => sum + val, 0) : 
                            (transaction.value ?? 0) %}

                        {# Process fees from JSON array #}
                        {% set taxes_display = [] %}
                        {% set taxes_total = 0 %}
                        
                        {% if transaction.fees is defined and transaction.fees is not null and transaction.fees is iterable %}
                            {% for fee in transaction.fees %}
                                {% if fee.type is defined and fee.amount is defined %}
                                    {% set taxes_total = taxes_total + (fee.amount ?? 0) %}
                                    {% set taxes_display = taxes_display|merge([{
                                        'name': fee.type,
                                        'value': fee.amount
                                    }]) %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {# Update running total #}
                        {% set running_total = running_total + transaction_value - taxes_total %}

                        <tr class="text-center">
                            <td>{{ transaction.id }}</td>
                            <td>{{ transaction.settlementDate|date('d/m/Y') }}</td>
                            <td>{{ transaction.transactionDate|date('d/m/Y') }}</td>
                            <td>{{ transaction.operation.value }}</td>
                            <td>{{ transaction.type.value }}</td>
                            <td class="text-start">{{ transaction.entry }}</td>
                            <td class="text-end">{{ transaction_value|format_currency('BRL') }}</td>
                            
                            {# Tax details column #}
                            <td class="text-start">
                                {% if taxes_display|length > 0 %}
                                    <ul class="list-unstyled mb-0">
                                        {% for tax in taxes_display %}
                                            <li>{{ tax.name }}: {{ tax.value|format_currency('BRL') }}</li>
                                        {% endfor %}
                                        <li class="fw-bold">Total: {{ taxes_total|format_currency('BRL') }}</li>
                                    </ul>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            
                            <td class="text-end">{{ running_total|format_currency('BRL') }}</td>
                            <td>{{ transaction.invoice }}</td>
                            <td>{{ transaction.ticker ? transaction.ticker.getTicker() : '' }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.unitPrice }}</td>
                            <td>{{ transaction.comment }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}